.nav {
    height: 30px;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    border-bottom: 1px solid var(--lightcolor);
    justify-content: space-between;
}
.footer.nav {
    border-top: 1px solid var(--lightcolor);
    border-bottom: none;
}

.theme-btn {
    --color: orange;
}
.theme-btn.light {
    color: orange;
}
.theme-btn.light:is(:hover, :active):not(.off) {
    color: gray;
}

.title {
    --color: burlywood;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.title > .helper {
    position: absolute;
    visibility: hidden;
    white-space: nowrap;
}
.title > .text {
    box-sizing: content-box;
    font-size: inherit;
    text-decoration: underline;
    text-decoration-color: transparent;
    text-decoration-skip: none;
    text-decoration-skip-ink: none;
}
.title:hover > .text {
    text-decoration-color: var(--lightcolor);
}
.title > .text:focus {
    text-decoration-color: var(--color);
}
.title > .edit {
    position: absolute;
    right: 0;
    transform: translateX(calc(100% + 5px));
    font-size: smaller;
    color: transparent
}
.title:hover > .edit {
    color: var(--lightcolor);
}
.title > .text:focus + .edit {
    color: var(--color);
}

@keyframes collapse {
    0% {
        height: var(--init-height);
        overflow: hidden;
    }
    49.99% {
        height: 0;
        overflow: hidden;
    }
    50% {
        height: auto;
        visibility: hidden;
    }
    100% {
        height: auto;
        visibility: hidden;
        position: fixed;
    }
}
.collapsable {
    --duration: 0.5s;
    --collapse-height: 0px;
    animation: collapse calc(var(--duration) * 2) ease-in-out forwards;
}
@keyframes expand {
    0% {
        height: 0;
        overflow: hidden;
    }
    99.99% {
        height: var(--init-height);
        overflow: hidden;
    }
    100% {
        height: auto;
    }
}
.collapsable.active, .active > .collapsable {
    animation: expand var(--duration) ease-in-out forwards;
}

.menu-group {
    position: relative;
}
.menu-group > .menu {
    position: absolute;
    z-index: 100;
    top: calc(100% + 10px);
    width: 300px;
    max-height: 80dvh;
    background: var(--theme);
    transition-duration: 0.3s;
}
.menu-group.active > .menu {
    overflow: auto;
}
.left {left: 0px}
.right {right: 0px}
.menu-group > .menu > * {
    width: 100%;
}

.plans-menu {
    padding: 5px 10px;
    gap: 5px;
    font-size: smaller;
}
.plans-menu > * {
    width: 100%;
}
.plans-menu > .frame-btn {
    justify-content: space-between;
    gap: 5px;
    max-width: 100%;
}

.menu-menu > * {
    display: grid;
    height: 30px;
    grid-template-columns: 15px 1fr;
}
.menu-menu > :not(:last-child) {
    border-bottom: 1px solid var(--lightcolor);
}
.menu-menu .icon {
    justify-self: center;
}

.about {
    gap: 5px;
}
.about > .app-title {
    display: flex;
    align-items: baseline;
    gap: 10px;
}